body {
  background-color: #66deb2;
  font-size: 18px;
}

.form {
  background: #fff;
  padding: 10px;
  margin: 25px 0;
  display: flex;
  gap: 10px;
}

.form__input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.todo-item--checked span {
  text-decoration: line-through;
}

.todo-item__description {
  flex-grow: 1;
  padding-left: 10px;
  cursor: pointer;
}
